.vscode/**
.vscode-test/**
src/**

webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx

tests
static
docs
.pre-commit-config.yaml
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test_env
packages
node_modules
esbuild.js
Dockerfile
poetry.lock
pyproject.toml
docker-compose.yaml
.ruff.toml
.yamllint.yaml
.env
requirements.txt
.ruff_cache/
.idea/
.github/
openapitools.json
venv