name: Install Poetry and Dependencies

inputs:
  directory:
    description: The directory to install dependencies
    required: true
  dev:
    description: Include development dependencies
    required: false
    default: "false"

runs:
  using: "composite"
  steps:
    - name: Install Poetry
      shell: bash
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        export PATH="$HOME/.local/bin:$PATH"
        poetry config virtualenvs.create true
        poetry config virtualenvs.in-project true
        poetry config virtualenvs.path ${{ inputs.directory }}/.venv

    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@v4
      with:
        path: ${{ inputs.directory }}/.venv
        key: "venv-${{ runner.os }}-${{ inputs.dev }}\
          -${{ hashFiles('**/poetry.lock') }}"

    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      shell: bash
      run: |
        cd ${{ inputs.directory }} && \
        if [ "${{ inputs.dev }}" == "true" ]; then \
          poetry install --no-interaction --no-root --with dev; \
        else \
          poetry install --no-interaction --no-root; \
        fi

    - name: Install project
      shell: bash
      run: |
        cd ${{ inputs.directory }} && \
        if [ "${{ inputs.dev }}" == "true" ]; then \
          poetry install --no-interaction --with dev; \
        else \
          poetry install --no-interaction; \
        fi
